#navbar {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2224;
  border-bottom: 1px solid rgba(211, 211, 211, 0.5);
  margin-bottom: 50px;
}

#navbar a:first-child {
  font-size: 1.5rem;
}

#navbar a:last-child {
  font-size: 0.8rem;
  background-color: lightgray;
  color: #1f2224;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
}

#navbar a:last-child:hover {
  box-shadow: 0 0 10px black;
}
